.dashboard-page-config
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 81%;
    height: 100%;
    text-align: left;
}

/* footer */

.dashboard-page-config-footer
{
    position: absolute;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 4%;
    bottom: -27%;
}

/* top row headers */

.dashboard-page-config-header-top
{
    width: 100%;
    height: auto;
}

.dashboard-page-config-header-top-text
{
    z-index: 1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    top: -0.1%;
    left: 11.3%;
}

.dashboard-page-config-header-top-img
{
    position: absolute;
    top: -1%;
    left: -1.2%;
    width: 102.4%;
    height: auto;
}

.dashboard-page-config-header-top-icon
{
    z-index: 1;
    position: absolute;
    top: 2%;
    left: 3%;
    width: 5.5%;
    height: auto;
}

/* common headers */

.dashboard-page-config-card-header0
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 20%;
    left: 9%;
}

.dashboard-page-config-card-header1
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 9%;
}

.dashboard-page-config-card-header2
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 74%;
    left: 9%;
}

/* motion sensor */

.dashboard-page-config-ms-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-ms-button-container
{
    z-index: 1;
    position: absolute;
    border-radius: 14px;
    background-color: #005570;
    top: 1.4%;
    left: 85%;
    width: 9.3%;
    height: 7.875%;
    cursor: pointer;
}

.dashboard-page-config-ms-button-circle
{
    z-index: 1;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #00000029;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 56%;
    height: 91%;

    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    /* -10%, 75% */
    transform: translate(75%, 0%);
}

.dashboard-page-config-ms-info
{
    position: absolute;
    top: 16.25%;
    left: 29%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-ms-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-ms-ddcontainer
{
    position: absolute;
    top: 28%;
    left: 8%;
    width: 70%;
    height: 8%;
}

/* settings */

.dashboard-page-config-settings-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-left: 2%;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-settings-sync-info
{
    position: absolute;
    top: 16.25%;
    left: 32.3%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-sync-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-settings-intensity-info
{
    position: absolute;
    top: 43.2%;
    left: 37.5%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-intensity-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-settings-holdtime-info
{
    position: absolute;
    top: 70.15%;
    left: 29.3%;
    width: 9%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-holdtime-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-config-clocktext
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.91vw, 13.16px);
    top: 29.7%;
    left: 16%;
}

.dashboard-page-config-radio
{
    position: absolute;
    top: 29%;
    left: 9%;
    width: 5%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-config-settings-intensity-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 8%;
    width: 70%;
    height: 8%;
}

.dashboard-page-config-settings-holdtime-ddcontainer
{
    position: absolute;
    top: 82%;
    left: 8%;
    width: 25%;
    height: 8%;
}

.dashboard-page-config-settings-holdtimeunits-ddcontainer
{
    position: absolute;
    top: 82%;
    left: 36%;
    width: 41.9%;
    height: 8%;
}

/* schedule */

.dashboard-page-config-schedule-container
{
    position: relative;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin-left: 2%;
    width: 31.8%;
    height: 35%;
    vertical-align: top;
}

.dashboard-page-config-schedule-add
{
    z-index: 1;
    position: absolute;
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    top: 4.3%;
    left: 75%;
    cursor: pointer;
}

.dashboard-page-config-schedule-add:hover
{
    filter: brightness(120%);
}

.dashboard-page-config-schedule-endtime-header
{
    z-index: -2;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    top: 47%;
    left: 53.5%;
}

.dashboard-page-config-schedule-activities-ddcontainer
{
    position: absolute;
    top: 28%;
    left: 8%;
    width: 72%;
    height: 8%;
}

.dashboard-page-config-schedule-start-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 8%;
    width: 40%;
    height: 8%;
}

.dashboard-page-config-schedule-end-ddcontainer
{
    position: absolute;
    top: 55%;
    left: 52%;
    width: 40%;
    height: 8%;
}

.dashboard-page-config-schedule-day-container
{
    position: absolute;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    top: 82%;
    left: 8%;
    width: 84%;
    height: 8%;
    display: inline-block;
    padding-left: 3%;
}

.dashboard-page-config-schedule-day-button
{
    color: #005570;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    margin-right: 7.1%;
    cursor: pointer;
}

.dashboard-page-config-schedule-day-button:hover
{
    filter: brightness(120%);
}