/* width is 1166 */

.dashboard-page-view
{
  position: absolute;
  top: 17%;
  left: 12%;
  width: 81%;
  height: 170%;
}

.dashboard-page-view-exportbtn
{
    font-family: "work sans", sans-serif;
    position: absolute;
    top: -3.26%;
    left: 90.22%;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.dashboard-page-view-exportbtn:hover
{
    filter: brightness(120%);
}

.dashboard-page-view-header-default
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-headertop-text
{
    z-index: 1;
    position: absolute;
    color: #FFFFFF;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.3%;
    left: 8%;
}

.dashboard-page-view-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.3%;
    left: 8%;
}

.dashboard-page-view-headerimg-default
{
    position: absolute;
    top: -4%;
    left: -0.55%;
    width: 101.502%;
}

.dashboard-page-view-header-refresh
{
    z-index: 0;
    position: absolute;
    top: 4%;
    left: 88%;
    width: 2.7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
}

.dashboard-page-view-header-refresh:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-header-info
{
    z-index: 0;
    position: absolute;
    top: -0.7%;
    left: 93.6%;
    width: 7%;
    height: auto;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
    transition-duration: .1s;
    cursor: pointer;
    opacity: 0.5;
}

.dashboard-page-view-header-info:hover
{
    transform: scale(1.1);
}

.dashboard-page-view-border-default
{
    z-index: -2;
    position: absolute;
    top: 1%;
    width: 100%;
    height: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    opacity: 1;
}

/* block lights */

.dashboard-page-view-blocklights-container
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 49.2%;
    height: 20%;
    display: block;
}

.dashboard-page-view-block-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #005596;
    top: 2.6%;
    left: 93.5%;
    width: 0.1%;
    height: 9%;
}

.dashboard-page-view-blocklights-divider0
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 4.1%;
    width: 91.8%;
    height: 0%;
}

.dashboard-page-view-blocklights-divider1
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 56.75%;
    left: 34.7%;
    width: 0%;
    height: 37.1%;
}

.dashboard-page-view-blocklights-divider2
{
    position: absolute;
    border: 1px solid #E0E0E0;
    top: 19.75%;
    left: 65.3%;
    width: 0%;
    height: 74.2%;
}

.dashboard-page-view-blocklights-text-numlights
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    padding-top: 10%;
    left: 8%;
}

.dashboard-page-view-blocklights-text-faults
{
    z-index: -1;
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    padding-top: 10%;
    left: 74%;
}

.dashboard-page-view-blocklights-text-on
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    padding-top: 28%;
    left: 14%;
}

.dashboard-page-view-blocklights-text-off
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    padding-top: 28%;
    left: 45%;
}

.dashboard-page-view-blocklights-text-dimmed
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(1vw, 14.4px);
    padding-top: 28%;
    left: 77%;
}

.dashboard-page-view-blocklights-icon-faults
{
    z-index: 1;
    position: absolute;
    top: 23.7%;
    left: 69%;
    width: 4%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-on
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 10.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-off
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 41%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-icon-dimmed
{
    z-index: 1;
    position: absolute;
    top: 62.5%;
    left: 72.5%;
    width: 2.3%;
    height: auto;
}

.dashboard-page-view-blocklights-value-container-numlights
{
    position: absolute;
    text-align: left;
    top: 25%;
    left: 8%;
    width: 50%;
}

.dashboard-page-view-blocklights-value-container-faults
{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 71.2%;
    width: 20%;
}

.dashboard-page-view-blocklights-value-container-on
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 8%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-off
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 39%;
    width: 22%;
}

.dashboard-page-view-blocklights-value-container-dimmed
{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 71.2%;
    width: 20%;
}

.dashboard-page-view-blocklights-value
{
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(2.4vw, 34.56px);
}

/* active lights */

.dashboard-page-view-activelights-container
{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 49.2%;
    height: 20%;
}

.dashboard-page-view-activelights-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

.dashboard-page-view-activelights-header-divider
{
    z-index: 0;
    position: absolute;
    background-color: #A35200;
    top: 2.6%;
    left: 93.6%;
    width: 0.1%;
    height: 9%;
}

.dashboard-page-view-activelights-table-container
{
    font-family: "work sans", sans-serif;
    font-weight: 500;
    font-size: max(0.8vw, 11.52px);
    width: 90%;
    margin-top: 8.5%;
    margin-left: 5%;
}

.dashboard-page-view-activelights-table-header-detections
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 8.2%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-date
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 33.2%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-time
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 53.7%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-header-stats
{
    position: absolute;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-weight: 600;
    font-size: max(0.8vw, 11.52px);
    left: 72.1%;
    top: 15.7%;
}

.dashboard-page-view-activelights-table-divider
{
    position: absolute;
    width: 89%;
    height: 0%;
    margin-top: 3%;
    left: 5.25%;
    border: 1px solid #E0E0E0;
    opacity: 0.8
}

.dashboard-page-view-activelights-table
{
    padding-top: 5.5%;
}

.dashboard-page-view-activelights-table tr:nth-child(odd)
{
    background-color: #FEF8F3;
}

.dashboard-page-view-activelights-table-id
{
    color: #333132;
    width: 13.9%;
    padding-top: 0.8%;
    padding-left: 3%;
}

.dashboard-page-view-activelights-table-date
{
    color: #333132;
    width: 10.2%;
    padding-top: 0.8%;
}

.dashboard-page-view-activelights-table-time
{
    color: #333132;
    width: 9.2%;
    padding-top: 0.8%;
}

.dashboard-page-view-activelights-table-stats
{
    color: #009BA7;
    font-weight: 600;
    width: 10%;
    padding-top: 0.8%;
}
/* energy consumption */

.dashboard-page-view-energy-container
{
    position: absolute;
    top: 21.5%;
    left: 0%;
    width: 49.2%;
    height: 20%;
}

.dashboard-page-view-energy-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

.dashboard-page-view-energy-options-container
{
    margin-top: 1.5%;
    margin-left: 65%;
}

.dashboard-page-view-energy-options-btn
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 3px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
}

.dashboard-page-view-energy-options-btn:hover
{
    background: #F5F2F2;
}

.dashboard-page-view-energy-options-btn-selected
{
    display: inline-block;
    cursor: pointer;
    color: #333132;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 3px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
    background: #E0E0E0;
}

.dashboard-page-view-energy-options-btn-selected:hover
{
    background: #E6E4E4;
}

.dashboard-page-view-energy-graph-container
{
    position: absolute;
    top: 27%;
    left: 4%;
    width: 92%;
    height: 70%;
}

.dashboard-page-view-energy-yaxis
{
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    letter-spacing: 0.05em;
    top: 54.4%;
    left: 3%;
}

.dashboard-page-view-energy-xaxis
{
    display: inline-block;
    position: absolute;
    color: #6D6E71;
    font-family: "work sans", sans-serif;
    font-size: max(0.7vw, 10.08px);
    font-weight: 500;
    letter-spacing: 0.05em;
    top: 93%;
    left: 52.15%;
}

/* light control */

.dashboard-page-view-control-container
{
    position: absolute;
    top: 21.5%;
    right: 0%;
    width: 49.2%;
    height: 20%;
}

.dashboard-page-view-control-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 3.5%;
    height: auto;
}

/* activity log */

.dashboard-page-view-activity-container
{
    position: absolute;
    top: 43%;
    left: 0%;
    width: 65%;
    height: 22%;
}

.dashboard-page-view-activity-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-activity-headerimg
{
    position: absolute;
    top: -4%;
    left: -0.4%;
    width: 101.12%;
    height: auto;
}

.dashboard-page-view-activity-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.3%;
    left: 6.6%;
}

.dashboard-page-view-activity-icon
{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 2%;
    width: 2.65%;
    height: auto;
}

/* gateway information */

.dashboard-page-view-gateway-container
{
    position: absolute;
    top: 43%;
    right: 0%;
    width: 33.5%;
    height: 22%;
}

.dashboard-page-view-gateway-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-gateway-headerimg
{
    position: absolute;
    top: -13%;
    left: -0.8%;
    width: 102%;
}

.dashboard-page-view-gateway-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    letter-spacing: 0.05em;
    padding-top: 0.3%;
    left: 11.5%;
}

.dashboard-page-view-gateway-icon
{
    z-index: 1;
    position: absolute;
    top: 4.25%;
    left: 3.5%;
    width: 4.5%;
    height: auto;
}

/* light status */

.dashboard-page-view-status-container
{
    position: absolute;
    top: 67%;
    right: 0%;
    width: 100%;
    height: 22%;
}

.dashboard-page-view-status-header
{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 13.5%;
}

.dashboard-page-view-status-headerimg
{
    position: absolute;
    top: -13%;
    left: -0.28%;
    width: 100.7%;
}

.dashboard-page-view-status-header-text
{
    z-index: 1;
    position: absolute;
    color: #000000;
    font-family: "work sans", sans-serif;
    background: none;
    font-size: max(1vw, 14.4px);
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 0.7%;
    left: 4.3%;
}

.dashboard-page-view-status-icon
{
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 2.25%;
    height: auto;
}

/* footer */

.dashboard-page-view-footer
{
  position: absolute;
  background: #F7F7F7 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 4%;
  bottom: -98%;
}